/* body {
  background-color: #45a049;
} */

.sidebar {
  position: relative;
  width: 90%;
  padding: 20px;
  min-height: 100%;
  background-color: #da5b01;
  transition: width 0.3s;
  border-radius: 10px;
}

.sidebar.expanded {
  width: 90%;
  min-height: 450px;
}

.toggle-btn {
  /* display: none; */
  position: absolute;
  top: 10px;
  right: -20px;
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: right 0.3s;
}

/* .add-contact-btn {
  padding: 10px 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.add-contact-btn:hover {
  background-color: #45a049;
} */

.welcome {
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  padding: 10px;
}
.welcomeMob{
  font-size: 15px;
  color: #ffffff;
  font-weight: 900;
  padding: 10px;
  } 
.hidden {
    display: none;
}

.sidebarnav{
  display: flex;
  flex-direction: column;
}
.ContactNavs,.homeLink {
  text-align: center;
  text-decoration: none;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 18px;
  font-weight:550;
  color: #1c1c1c;
  transition: all .2s ease-in-out;
  padding: 10px;
}
.ContactNavs:hover,.ContactNavs::after,.homeLink:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #da6a1a;
  background-color:#f7f7f7;
}
.homeLink{
  padding: 10px;
}
.ContactNavsPar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ContactNavsPar div {
  flex: 1;
  /* padding: 1rem; */
  text-align: center;
}
.form-group{
  padding: 0px;
}

button.ContactFormButton {
  background-color:#ec7c2c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button.ContactFormButton:hover {
  background-color: #e86100;
}

.ContactNavsImages{
  margin-bottom: 20px;
  padding: 1px;
  width: 25px;
}

.ContactsNav {
  top: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0,0, 0, 1.5);
  background-color: rgb(54, 54, 54);
  padding: 0px;
  display: flex;
  display: none;
  justify-content:space-between;
  gap: 10px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}
.logoInContacts{
  width: 150px;
}
.search-filter{
  display:block;
}
.search-filter-nav{
  width: 100%;
  display: none;
}

.form-control.me-2{
  width: 70%;
  margin-left: 2px;
}
.form-select.me-2{
  width: 20%;
  margin-left: 2px;
}

.nextPrevBut{
  width: 50px;
  height: 50px;
  padding: 10px;
}
.paginationText{
  padding: 10px;
}
.ContactFields{
  display: flex;
  margin: 10px;
}
.ContactLogos{
  width: 25px;
  padding-right: 10px;
}
.ContactImg{
  width: 80px;
  height: 80px;
  margin: 10px;
  margin-top: 20px;
}
.s1{
  margin-left: 20px;
  display: flex;
  flex-direction:row;
  width: 400px;
}
.contactsNames{
  padding: 30px;
}
.ContactEaseinContacts{
  transition: opacity 0.3s ease-in-out;
  width: 200px;
  margin-left: 20%;
}
.counts{
  text-align: center;
  padding-left: 20px;
  color: #da5b01;
  font-weight: 600;
}
.profileImg{
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.profile-picture{
  margin-top: 30px;
  border: 2px solid #ffffff;
  width: 100px;
  height: 110px;
  border-radius: 50%;
  /* box-shadow: 0 10px 50px rgba(78, 78, 78, 0.26); */
}
.ContactImg {
  border-radius: 50%;
  box-shadow: 0 10px 50px rgba(78, 78, 78, 0.206);
}

.contact-info{
  width: 200px;
}
p.ProfileImgName{
  text-align: center;
  font-weight: 700;
  color: #f7f7f7;
  font-size: 20px;
  margin: 0px;
}

.editDltBut{
  width: 30px;
  height: 30px;
}

.messages{
  text-align: center;
  display: block;
  width: 100%;
  height: 40px;
}
.alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.Sticky{
  position: none;
}
@media (max-width: 768px) {
  
.profile-picture{
    width: 85px;
    height: 90px;
  }
.ContactFields{
  padding: -10px;
  font-size:12px ;
}
.contactsNames{
  padding: 5px;
  font-size: 15px;
  margin-top: 30px;
}
h3{
  padding: 0%;
}
.sidebar {
    width: 30%;
    position: relative;
}
.editDltBut{
  width: 20px;
  height: 20px;
}
.toggle-bt {
    background-color: #4caf4f00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0px 20px 0px 5px;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    z-index: 10;
}
.toggle-bt::after,.toggle-bt:hover{
  background-color: #da6a1a00;
}

.sidebar.expanded .toggle-bt {
    right: -25px;
}
button.ContactNavs,.homeLink{
  font-size: 14px;
}

.ContactsNav {
  display: flex;
}
.search-filter{
  display: none;
}
.search-filter-nav{
  display: flex;
  padding-top: 20px;
}
.sidebar{
  min-height: 90%;
}
.ContactLogos{
  width: 17px;
}
h3{
  padding: 0%;
}
.nextPrevBut{
  width: 30px;
  height: 30px;
}
.paginationText,.messages{
  font-size: 13px;
  padding: 1px;
}
.s1{
  margin-left: 0px;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  width: 200px;
  margin-bottom: 10px;
}
/* .contact-info{
  width: 200px;
} */
.ContactImg{
  width: 50px;
  height: 50px;
}
.form-control.me-2{
  width: 70%;
  margin-left: 2px;
}
.form-select.me-2{
  width: 20%;
  margin-left: 2px;
}
.Sticky{
  position: sticky;
  top: -21px;
  background-color: #da5b01;
  z-index: 1;
  width: 105%;
  margin-left: -10px;
}
}