
.login,.register {
    padding: 2rem;
    text-align: center;
    padding: 20px;
    /* background-color: #616161; */
    animation: slideIn 0.5s ease-in-out;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.formHead{
    display: flex;
    justify-content: center;
}
.formBody{
    /* border: 1px solid rgb(65, 65, 65); */
    width: 450px;
    box-shadow: 0 0px 50px rgba(3, 3, 3, 0.301);
    border-radius: 15px;
    padding: 50px;
    background-color: #fff;
}

.name-LoginRegister{
    font-size: 25px;
    margin-top: -10px;
    padding-bottom: 40px;
}
.welcomeText{
    font-size: 35px;
    padding: 20px;
  animation: fadeIn 2s ease-in-out;
}
.loginnav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #616161;
    position: sticky;
    top: 0;
}
.logoLogin {
    /* position: absolute; */
    width: 150px; /* Adjust the size as needed */
    height: auto;
    z-index: 2; /* Ensure it's above the overlay */
}
.loginnav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="password"],input[type="text"], input[type="email"], input[type="password"], input[type="date"], select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #357ab7;
}

.error {
    color: red;
}

.success {
    color: green;
}
.button-LoginRegister{
    width: 450px;
    padding: 50px;
    color:#4a90e2;
}

.error-div{
    min-height: 50px;
  }

hr { 
    margin: 40px;
}


.forminputs{
    display: flex;
}

.LRLinks{
    text-decoration: none;
    color: #868686;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes slideIn {
from {
    transform: translateX(-100%);
}
to {
    transform: translateX(0);
}

}


@media (max-width: 768px) {
    .formBody,.button-LoginRegister{
        width: 200px;
    }
    .formBody{
        padding: 40px;
    }
    .error-div{
        min-height: 30px;
    }
    a.home-link{
        font-size: 15px;
    }
    .welcomeText{
        font-size: 30px;
    }
}